## Module 13 Exercise - Correlation and Linear Regression

### 1. Complete the code below to import the four libraries that we've primarily covered in the class.

In [1]:
# import _____ as pd
# import _____ as np
# import _____ as stats
# import _____ as sm

# import the pandas, numpy libraries
# import the scipy.stats library (for statistics functions)
# import the StatsModels library (for regression analysis)

import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.formula.api as sm

### 2. Import the "babies.csv" file and name it df. 

<b>BACKGROUND INFO</b>

    The Child Health and Development Studies considered all pregnancies between 1960 and 1967 among women in the Kaiser Foundation Health Plan in the San Francisco East Bay area. The goal is to model the weight of the infants (bwt, in ounces) using variables including length of pregnancy in days (gestation), mother's age in years (age), mother's height in inches (height), whether the child was the first born (parity), mother's pregnancy weight in pounds (weight), and whether the mother was a smoker (smoke).

<b>VARIABLES</b>

    case - id number
    bwt - birthweight, in ounces
    gestation - length of gestation, in days
    parity - binary indicator for a first pregnancy (0=first pregnancy)
    age - mother's age in years
    height - mother's height in inches
    weight - mother's weight in pounds
    smoke - binary indicator for whether the mother smokes

In [2]:
# import the "babies" file into a variable named "df" which will be used as a dataset...

df = pd.read_csv("datasets/babies.csv")

### 3. Check the shape of the dataset. How many columns are there? How many rows?

In [4]:
# check the "shape" of the dataset via the "shape" function...
df.shape

(1236, 8)

In [ ]:
# dataset "df" has 1,236 rows & 8 columns...

### 4. Check the first 10 rows and the last 10 rows of the dataset. Drop the column "case".

In [5]:
# use the "head" function to view/display the first 10 rows of the "df" dataset...

df.head(10)

   case  bwt  gestation  parity   age  height  weight  smoke
0     1  120      284.0       0  27.0    62.0   100.0    0.0
1     2  113      282.0       0  33.0    64.0   135.0    0.0
2     3  128      279.0       0  28.0    64.0   115.0    1.0
3     4  123        NaN       0  36.0    69.0   190.0    0.0
4     5  108      282.0       0  23.0    67.0   125.0    1.0
5     6  136      286.0       0  25.0    62.0    93.0    0.0
6     7  138      244.0       0  33.0    62.0   178.0    0.0
7     8  132      245.0       0  23.0    65.0   140.0    0.0
8     9  120      289.0       0  25.0    62.0   125.0    0.0
9    10  143      299.0       0  30.0    66.0   136.0    1.0

In [6]:
# use the "tail" function to view/display the last 10 rows of the "df" dataset...

df.tail(10)

      case  bwt  gestation  parity   age  height  weight  smoke
1226  1227  109      244.0       1  21.0    63.0   102.0    1.0
1227  1228  103      278.0       0  30.0    60.0    87.0    1.0
1228  1229  118      276.0       0  34.0    64.0   116.0    0.0
1229  1230  127      290.0       0  27.0    65.0   121.0    0.0
1230  1231  132      270.0       0  27.0    65.0   126.0    0.0
1231  1232  113      275.0       1  27.0    60.0   100.0    0.0
1232  1233  128      265.0       0  24.0    67.0   120.0    0.0
1233  1234  130      291.0       0  30.0    65.0   150.0    1.0
1234  1235  125      281.0       1  21.0    65.0   110.0    0.0
1235  1236  117      297.0       0  38.0    65.0   129.0    0.0

In [7]:
# use the "drop" function to remove/drop the "case" column from the "df" dataset...


df = df.drop(columns = "case")

### 5. Is there any missing data in the dataset? Use whichever code you like to check.

In [8]:
# use the "info" function to see if there is any missing data in the "df" dataset...

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bwt        1236 non-null   int64
 1   gestation  1223 non-null   float64
 2   parity     1236 non-null   int64
 3   age        1234 non-null   float64
 4   height     1214 non-null   float64
 5   weight     1200 non-null   float64
 6   smoke      1226 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 67.7 KB

In [9]:
# use the "isnull" & "sum" functions to see if there is any missing data in the "df" dataset...

df.isnull().sum()

bwt           0
gestation    13
parity        0
age           2
height       22
weight       36
smoke        10
dtype: int64

In [ ]:
# there is missing data in the "df" dataset...

### 6. The amount of missing data is small considering the size of our dataset. Drop all rows in the dataset that have missing data. Create a copy of your dataset without missing data.

In [10]:
# create a copy of the "df" dataset without missing data...
# use the "dropna" function to drop the rows with missing data...
# the name of the dataset without missing data will be named "df1"...

df1 = df.dropna()

In [11]:
# use the "info" function to verify that there is no missing data in the "df1" dataset...

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1174 entries, 0 to 1235
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bwt        1174 non-null   int64
 1   gestation  1174 non-null   float64
 2   parity     1174 non-null   int64
 3   age        1174 non-null   float64
 4   height     1174 non-null   float64
 5   weight     1174 non-null   float64
 6   smoke      1174 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 73.4 KB

In [12]:
# use the "isnull" & "sum" functions to verify that there is no missing data in the "df1" dataset...

df1.isnull().sum()

bwt          0
gestation    0
parity       0
age          0
height       0
weight       0
smoke        0
dtype: int64

### 7. Are there any duplicate rows in the dataset? Check, if there are, drop them.

In [13]:
# Locate duplicates rows within the "df1" dataset...
# use the "duplicated" function to find any duplicate rows in the "df1" dataset...
# any duplicate rows will be copied into a variable named "dupes"...
# use the "loc" function to display any duplicate rows...

dupes = df1.duplicated()
df1.loc[dupes]

Empty DataFrame
Columns: [bwt, gestation, parity, age, height, weight, smoke]
Index: []

In [ ]:
# there are no duplicate rows...

### 8. Check each of your numeric columns for outliers - pick one method and use it for all the columns.

In [14]:
# use the "head" function the view/display the column names in the "df1" dataset...

df1.head(1)

   bwt  gestation  parity   age  height  weight  smoke
0  120      284.0       0  27.0    62.0   100.0    0.0

In [ ]:
# I will use the Interquartile Range (IQR) to detect outliers in the numberic columns...

In [15]:
# bwt (birth weight)
# use the "copy" function to copy the "df1" dataset into a variable named "df1_bwt"...
# use the "shape" function to show the number of rows and number of columns in the "df1_bwt" dataset...

df1_bwt = df1.copy()
df1_bwt.shape

(1174, 7)

In [16]:
# Calculate quartiles/quantiles for the values in the "bwt" column

q1 = df1_bwt["bwt"].quantile(.25)
q3 = df1_bwt["bwt"].quantile(.75)


# calculate the Interquartile Range (IQR)...
iqr = q3 - q1


# determine/calculate the outlier fences...
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)

In [17]:
# display the Interquartile Range (IQR), the top & bottom outlier fences for the values in the "bwt" column...

print("q1=", q1, "q3=", q3, "iqr=", iqr, "bottom=", bottom, "top=", top)

q1= 108.0 q3= 131.0 iqr= 23.0 bottom= 73.5 top= 165.5

In [18]:
# Determine the index locations for rows that fall outside of outlier fences (top & bottom) for the "btw" values...

iqr_outliers_bwt = df1_bwt[(df1_bwt["bwt"] > top) | (df1_bwt["bwt"] < bottom)].index

# display the index(s) that contain values in the "bwt" column that are outliers...

print(iqr_outliers_bwt)

Int64Index([ 239,  309,  361,  462,  500,  529,  556,  594,  632,  709,  738,
             747,  829,  904,  912,  978, 1021, 1035, 1063, 1065, 1099, 1139,
            1148, 1169],
           dtype='int64')

In [20]:
# drop the rows that contain the outliers in the "df1_bwt" dataset with the associated index values...
df1_bwt = df1_bwt.drop(iqr_outliers_bwt)


# check the shape of the updated "df1_bwt" dataframe...
print(df1_bwt.shape)

(1150, 7)

In [ ]:
# the original "df1_bwt" dataset contained 1,174 rows...
# with the removal of the outliers, the "df1_btw" dataset now contains 1,150 rows...
# 24 rows were removed...

In [23]:
# gestation 
# use the "copy" function to copy the "df1" dataset into a variable named "df1_gest"...
# use the "shape" function to show the number of rows and number of columns in the "df1_gest" dataset...

df1_gest = df1.copy()
df1_gest.shape

(1174, 7)

In [24]:
# Calculate quartiles/quantiles for the values in the "gestation" column

q1 = df1_gest["gestation"].quantile(.25)
q3 = df1_gest["gestation"].quantile(.75)


# calculate the Interquartile Range (IQR)...
iqr = q3 - q1


# determine/calculate the outlier fences...
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)

In [25]:
# display the Interquartile Range (IQR), the top & bottom outlier fences for the values in the "gestation" column...

print("q1=", q1, "q3=", q3, "iqr=", iqr, "bottom=", bottom, "top=", top)

q1= 272.0 q3= 288.0 iqr= 16.0 bottom= 248.0 top= 312.0

In [26]:
# Determine the index locations for rows that fall outside of outlier fences (top & bottom) for the "gestation"
# values...

iqr_outliers_gest = df1_gest[(df1_gest["gestation"] > top) | (df1_gest["gestation"] < bottom)].index

# display the index(s) that contain values in the "gestation" column that are outliers...

print(iqr_outliers_gest)

Int64Index([   6,    7,   10,   59,   63,   66,  119,  129,  155,  188,  192,
             198,  210,  215,  217,  234,  240,  253,  260,  279,  345,  361,
             373,  394,  440,  460,  462,  484,  500,  511,  523,  630,  685,
             699,  710,  726,  746,  761,  769,  778,  784,  828,  829,  830,
             833,  869,  912,  927,  952,  969,  978, 1002, 1020, 1026, 1035,
            1065, 1074, 1134, 1139, 1140, 1142, 1146, 1152, 1172, 1178, 1199,
            1206, 1207, 1217, 1219, 1226],
           dtype='int64')

In [27]:
# drop the rows that contain the outliers in the "df1_bwt" dataset with the associated index values...
df1_gest = df1_gest.drop(iqr_outliers_gest)


# check the shape of the updated "df1_bwt" dataframe...
print(df1_gest.shape)

(1103, 7)

In [ ]:
# the original "df1_gest" dataset contained 1,174 rows...
# with the removal of the outliers, the "df1_gest" dataset now contains 1,103 rows...
# 71 rows were removed...

In [28]:
# age
# use the "copy" function to copy the "df1" dataset into a variable named "df1_age"...
# use the "shape" function to show the number of rows and number of columns in the "df1_age" dataset...

df1_age = df1.copy()
df1_age.shape

(1174, 7)

In [29]:
# Calculate quartiles/quantiles for the values in the "age" column

q1 = df1_age["age"].quantile(.25)
q3 = df1_age["age"].quantile(.75)


# calculate the Interquartile Range (IQR)...
iqr = q3 - q1


# determine/calculate the outlier fences...
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)

In [30]:
# display the Interquartile Range (IQR), the top & bottom outlier fences for the values in the "age" column...

print("q1=", q1, "q3=", q3, "iqr=", iqr, "bottom=", bottom, "top=", top)

q1= 23.0 q3= 31.0 iqr= 8.0 bottom= 11.0 top= 43.0

In [31]:
# Determine the index locations for rows that fall outside of outlier fences (top & bottom) for the "age"
# values...

iqr_outliers_age = df1_age[(df1_age["age"] > top) | (df1_age["age"] < bottom)].index

# display the index(s) that contain values in the "age" column that are outliers...

print(iqr_outliers_age)

Int64Index([633, 1070], dtype='int64')

In [32]:
# drop the rows that contain the outliers in the "df1_age" dataset with the associated index values...
df1_age = df1_age.drop(iqr_outliers_age)


# check the shape of the updated "df1_age" dataframe...
print(df1_age.shape)

(1172, 7)

In [ ]:
# the original "df1_age" dataset contained 1,174 rows...
# with the removal of the outliers, the "df1_age" dataset now contains 1,172 rows...
# 2 rows were removed...

In [33]:
# height
# use the "copy" function to copy the "df1" dataset into a variable named "df1_height"...
# use the "shape" function to show the number of rows and number of columns in the "df1_height" dataset...

df1_height = df1.copy()
df1_height.shape

(1174, 7)

In [34]:
# Calculate quartiles/quantiles for the values in the "height" column

q1 = df1_height["height"].quantile(.25)
q3 = df1_height["height"].quantile(.75)


# calculate the Interquartile Range (IQR)...
iqr = q3 - q1


# determine/calculate the outlier fences...
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)

In [35]:
# display the Interquartile Range (IQR), the top & bottom outlier fences for the values in the "height" column...

print("q1=", q1, "q3=", q3, "iqr=", iqr, "bottom=", bottom, "top=", top)

q1= 62.0 q3= 66.0 iqr= 4.0 bottom= 56.0 top= 72.0

In [36]:
# Determine the index locations for rows that fall outside of outlier fences (top & bottom) for the "height"
# values...

iqr_outliers_height = df1_height[(df1_height["height"] > top) | (df1_height["height"] < bottom)].index

# display the index(s) that contain values in the "height" column that are outliers...

print(iqr_outliers_height)

Int64Index([434, 1208], dtype='int64')

In [37]:
# drop the rows that contain the outliers in the "df1_height" dataset with the associated index values...
df1_height = df1_height.drop(iqr_outliers_height)


# check the shape of the updated "df1_height" dataframe...
print(df1_height.shape)

(1172, 7)

In [ ]:
# the original "df1_height" dataset contained 1,174 rows...
# with the removal of the outliers, the "df1_height" dataset now contains 1,172 rows...
# 2 rows were removed...

In [38]:
# weight
# use the "copy" function to copy the "df1" dataset into a variable named "df1_weight"...
# use the "shape" function to show the number of rows and number of columns in the "df1_weight" dataset...

df1_weight = df1.copy()
df1_weight.shape

(1174, 7)

In [39]:
# Calculate quartiles/quantiles for the values in the "weight" column

q1 = df1_weight["weight"].quantile(.25)
q3 = df1_weight["weight"].quantile(.75)


# calculate the Interquartile Range (IQR)...
iqr = q3 - q1


# determine/calculate the outlier fences...
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)

In [40]:
# display the Interquartile Range (IQR), the top & bottom outlier fences for the values in the "weight" column...

print("q1=", q1, "q3=", q3, "iqr=", iqr, "bottom=", bottom, "top=", top)

q1= 114.25 q3= 139.0 iqr= 24.75 bottom= 77.125 top= 176.125

In [41]:
# Determine the index locations for rows that fall outside of outlier fences (top & bottom) for the "weight"
# values...

iqr_outliers_weight = df1_weight[(df1_weight["weight"] > top) | (df1_weight["weight"] < bottom)].index

# display the index(s) that contain values in the "weight" column that are outliers...

print(iqr_outliers_weight)

Int64Index([   6,   23,   41,   88,  117,  149,  162,  181,  183,  222,  240,
             287,  411,  426,  512,  522,  528,  563,  608,  622,  632,  723,
             733,  747,  849,  858,  859,  865,  888,  924,  935, 1008, 1021,
            1148, 1154, 1167, 1219],
           dtype='int64')

In [42]:
# drop the rows that contain the outliers in the "df1_weight" dataset with the associated index values...
df1_weight = df1_weight.drop(iqr_outliers_weight)


# check the shape of the updated "df1_weight" dataframe...
print(df1_weight.shape)

(1137, 7)

In [ ]:
# the original "df1_height" dataset contained 1,174 rows...
# with the removal of the outliers, the "df1_height" dataset now contains 1,137 rows...
# 37 rows were removed...

### 9. Print the descriptive statistics for each numeric column. What is the average age of the mothers? What is the average gestation period?

In [18]:
# use the "describe" function to view/display the descriptive statistics for each numeric column...

df1.describe()

,bwt,gestation,parity,age,height,weight,smoke
count,1174.000000,1174.000000,1174.000000,1174.000000,1174.000000,1174.000000,1174.000000
mean,119.462521,279.101363,0.262351,27.228279,64.049404,128.478705,0.390971
std,18.328671,16.010305,0.440100,5.817839,2.526102,20.734282,0.488176
min,55.000000,148.000000,0.000000,15.000000,53.000000,87.000000,0.000000
25%,108.000000,272.000000,0.000000,23.000000,62.000000,114.250000,0.000000
50%,120.000000,280.000000,0.000000,26.000000,64.000000,125.000000,0.000000
75%,131.000000,288.000000,1.000000,31.000000,66.000000,139.000000,1.000000
max,176.000000,353.000000,1.000000,45.000000,72.000000,250.000000,1.000000

In [ ]:
# the average (mean) age of the mothers is 27.228278 years (27 years, 2.739336 months)

In [ ]:
# the average (mean) gestation period is 279.101363 days (9.175935222 months) (9 months, 5.27805666 days)

### 10. Let's model birthweight based on the characteristics of the mother. We want to distinguish between the numeric and categorical variables. Replace the values 0/1 in the parity and smoke column with meaningful labels (i.e. smokes, doesn't smoke).

In [ ]:
# Replace multiple values
#d14 = df.copy()
#d14['survived'].replace([1,0], ['survived sinking', 'did not survive'], inplace=True)
#d14.head(3)

# parity
# 0 - first pregnacy
# 1 - not first pregnacy

# smoke
# 0 - non-smoker
# 1 - smoker

In [44]:
# use the "value_counts" function to check on the actual values in the "parity" column...

df['parity'].value_counts()

0    921
1    315
Name: parity, dtype: int64

In [45]:
# use the "value_counts" function to check on the actual values in the "smoke" column...

df['smoke'].value_counts()

0.0    742
1.0    484
Name: smoke, dtype: int64

In [46]:
#use the "copy" function to make a copy of the "df1" dataset into a variable named "df2"...

df2 = df1.copy()

# use the "replace" function to replace the numeric values in the "smoke" column with meaningful labels...

df2['smoke'].replace([1,0], ['smoker', 'non-smoker'], inplace=True)

# use the "head" function to view/display the changes of values in the "smoke" column...
df2.head(5)

   bwt  gestation  parity   age  height  weight       smoke
0  120      284.0       0  27.0    62.0   100.0  non-smoker
1  113      282.0       0  33.0    64.0   135.0  non-smoker
2  128      279.0       0  28.0    64.0   115.0      smoker
4  108      282.0       0  23.0    67.0   125.0      smoker
5  136      286.0       0  25.0    62.0    93.0  non-smoker

In [47]:
# use the "replace" function to replace the numeric values in the "parity" column with meaningful labels...
df2['parity'].replace([1,0], ['not first pregnacy', 'first pregnacy'], inplace=True)

# use the "head" function to view/display the changes of values in the "parity" column...
df2.head(10)

    bwt  gestation          parity   age  height  weight       smoke
0   120      284.0  first pregnacy  27.0    62.0   100.0  non-smoker
1   113      282.0  first pregnacy  33.0    64.0   135.0  non-smoker
2   128      279.0  first pregnacy  28.0    64.0   115.0      smoker
4   108      282.0  first pregnacy  23.0    67.0   125.0      smoker
5   136      286.0  first pregnacy  25.0    62.0    93.0  non-smoker
6   138      244.0  first pregnacy  33.0    62.0   178.0  non-smoker
7   132      245.0  first pregnacy  23.0    65.0   140.0  non-smoker
8   120      289.0  first pregnacy  25.0    62.0   125.0  non-smoker
9   143      299.0  first pregnacy  30.0    66.0   136.0      smoker
10  140      351.0  first pregnacy  27.0    68.0   120.0  non-smoker

In [48]:
# use the "tail" function to view/display the changes of values in the "smoke" column...

df2.tail()

      bwt  gestation              parity   age  height  weight       smoke
1231  113      275.0  not first pregnacy  27.0    60.0   100.0  non-smoker
1232  128      265.0      first pregnacy  24.0    67.0   120.0  non-smoker
1233  130      291.0      first pregnacy  30.0    65.0   150.0      smoker
1234  125      281.0  not first pregnacy  21.0    65.0   110.0  non-smoker
1235  117      297.0      first pregnacy  38.0    65.0   129.0  non-smoker

### 11. Run a correlation matrix with your dataset. Which variables are correlated with birthweight? Describe the strength of the correlation between all the continuous independent variables and birthweight.

In [49]:
# use the "corr" function to view/display the correlation(s) among the numeric columns in the "df2" dataset...

df2.corr()

                bwt  gestation       age    height    weight
bwt        1.000000   0.407543  0.026983  0.203704  0.155923
gestation  0.407543   1.000000 -0.053425  0.070470  0.023655
age        0.026983  -0.053425  1.000000 -0.006453  0.147322
height     0.203704   0.070470 -0.006453  1.000000  0.435287
weight     0.155923   0.023655  0.147322  0.435287  1.000000

In [ ]:
# 1.0 - Perfect linear relationship
# 0.70 - Strong relationship
# 0.50 - Moderate relationship
# 0.30 - Weak relationship
# 0.0 - No linear relationship 


# the gestation, age, height, & weight variables have a correlation, of some sort, with birthweight...
# the age variable basically no relationship with birthweight...
# the height, & weight variables have a weak relationship with birthweight...
# gestation has a weak-to-moderate relationship with birthweight, which is the strongest of all of the variables...

### 12. Determine the relationship between birthweight and the categorical variables: parity and smoke. Use the groupby function to determine if there are any differences between birthweight and the different levels of the variables.  Does it seem like there is a relationship between these variables and birthweight?

In [50]:
# use the "groupby" function to view/display the mean body weight (bwt) by "parity" column labels...

df2["bwt"].groupby(df2["parity"]).mean()

parity
first pregnacy        119.942263
not first pregnacy    118.113636
Name: bwt, dtype: float64

In [51]:
# use the "groupby" function to view/display the mean body weight (bwt) by "smoke" column labels...

df2["bwt"].groupby(df2["smoke"]).mean()

smoke
non-smoker    123.085315
smoker        113.819172
Name: bwt, dtype: float64

In [53]:
# use the "mean" function to view/display the mean (average) of the body weight ("bwt")...

df2["bwt"].mean()

119.46252129471891

In [ ]:
# there does not seem to be a strong relationship between birthweight and parity...
# there does seem to be some type of relationship between birthweight and smoke...

### 13. Let's construct your regression model. Firstly, which variables do you plan to include in your model, and why? In the space below, write your justification for why you are including each variable.

In [ ]:
# birth weight ("bwt") will be the dependent variable...

# the following variables will be the independent variables in the regression model:
# age - even though there does not seem to be a strong correlation, it will be interesting to see the results with the
# variable in the regression analysis...
# smoke - there seems to be some relationship (based on the mean)...
# height - there seems to be some relationship (not a strong one)...
# weight - there seems to be some relationship (not a strong one)...
# gestation - it has the strongest correlation/relationship ...

### 14. Construct your regression model and print the summary. Write out your full interpretation of the regression results. If you are not happy with the results, tweak your model and run it again.

In [55]:
# Create/construct a regression model...

# "result" is the variable name that is assigned the regression formula/model...
# "sm" is the shorthand for the linear regression model...
# "ols" is "Ordinary Least Squares", the most common method of calculating the regression line...

# "bwt" (birth weight) is the dependent variable...

# "age", "height", "weight", & "gestation" are independent variables (numeric)...
# "smoke" is an independent variable (categorical)...

# "data" is the variable name that represents the dataset that the data comes from...

# use the "fit" function to calculate the best linear regression line via the use of predictive values...

result = sm.ols('bwt ~ age + height + weight + gestation + C(smoke)', 
                data = df2).fit()

# use the "summary" function to show/display the calculated values (slopes and y-intercept)
# for the linear regression formula...

result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    bwt   R-squared:                       0.252
Model:                            OLS   Adj. R-squared:                  0.249
Method:                 Least Squares   F-statistic:                     78.88
Date:                Sat, 03 Jul 2021   Prob (F-statistic):           2.22e-71
Time:                        00:54:59   Log-Likelihood:                -4909.1
No. Observations:                1174   AIC:                             9830.
Df Residuals:                    1168   BIC:                             9861.
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept            -80.1817     14.393     -5.571      0.000    -108.422     -51.942
C(smoke)[T.smoker]    -8.2949      0.956     -8.674      0.000     -10.171      -6.419
age                    0.0761      0.081      0.938      0.348      -0.083       0.235
height                 1.1113      0.205      5.416      0.000       0.709       1.514
weight                 0.0560      0.025      2.217      0.027       0.006       0.106
gestation              0.4387      0.029     15.056      0.000       0.382       0.496
==============================================================================
Omnibus:                        5.619   Durbin-Watson:                   2.055
Prob(Omnibus):                  0.060   Jarque-Bera (JB):                6.872
Skew:                           0.038   Prob(JB):                       0.0322
Kurtosis:                       3.367   Cond. No.                     9.80e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.8e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
# y = b + (m1 x X1) + (m2 x X2) + (m3 x X3) + ....etc.
# grade(y) = 58.5316 + [1.9162 x hours of study(x1)] + [0.9892 x hours exercise(x2)]

# here is the multiple linear regression equation:

# bwt(y) = -80.1817(b) + [0.0761 x age(x1)] + [1.1113 x height(x2)] + [0.0560 x weight(x3)]
# + [0.4387 x gestation(x4)] + [-8.2949 x smoker(x5)]

# looking that the p-values (P>|t|), the value for "age" is 0.348. This means that the "age" variable is, in the
# multiple linear regression analysis, insignificant...the correlation coefficient between "bwt" & "age" (0.026983)
# confirms this...

In [56]:
# Create/construct another regression model...
# this model will be without the "age" variable...

# "result" is the variable name that is assigned the regression formula/model...
# "sm" is the shorthand for the linear regression model...
# "ols" is "Ordinary Least Squares", the most common method of calculating the regression line...

# "bwt" (birth weight) is the dependent variable...

# "height", "weight", & "gestation" are independent variables (numeric)...
# "smoke" is an independent variable (categorical)...

# "data" is the variable name that represents the dataset that the data comes from...

# use the "fit" function to calculate the best linear regression line via the use of predictive values...

result = sm.ols('bwt ~ height + weight + gestation + C(smoke)', 
                data = df2).fit()

# use the "summary" function to show/display the calculated values (slopes and y-intercept)
# for the linear regression formula...

result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    bwt   R-squared:                       0.252
Model:                            OLS   Adj. R-squared:                  0.249
Method:                 Least Squares   F-statistic:                     98.39
Date:                Sat, 03 Jul 2021   Prob (F-statistic):           3.25e-72
Time:                        00:57:08   Log-Likelihood:                -4909.5
No. Observations:                1174   AIC:                             9829.
Df Residuals:                    1169   BIC:                             9854.
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept            -77.2587     14.051     -5.498      0.000    -104.827     -49.690
C(smoke)[T.smoker]    -8.3483      0.955     -8.746      0.000     -10.221      -6.476
height                 1.0973      0.205      5.363      0.000       0.696       1.499
weight                 0.0598      0.025      2.401      0.017       0.011       0.109
gestation              0.4372      0.029     15.028      0.000       0.380       0.494
==============================================================================
Omnibus:                        5.735   Durbin-Watson:                   2.055
Prob(Omnibus):                  0.057   Jarque-Bera (JB):                6.974
Skew:                           0.046   Prob(JB):                       0.0306
Kurtosis:                       3.366   Cond. No.                     9.53e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.53e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
# here is the multiple linear regression equation (without the "age" variable):

# bwt(y) = -77.2587(b) + [1.0973 x height(x1)] + [0.0598 x weight(x2)]
# + [0.4387 x gestation(x3)] + [-8.3483 x smoker(x4)]

# looking that the p-values (P>|t|), the value for "weight" is 0.017. In the regression model that included the 
# "age", the p-value for "weight" was 0.027. This means that the "weight" variable is a bit more signficant in the
# regression model that did not include "age"...

### 15. Create three scenarios (i.e. make up specific values) and predict the birthweight given these factors using the information on the model you were most pleased with.

In [57]:
# using the model without the "age" variable:

# bwt(y) = -77.2587(b) + [1.0973 x height(x1)] + [0.0598 x weight(x2)]
# + [0.4387 x gestation(x3)] + [-8.3483 x smoker(x4)]

# use the "describe" function to view/display descriptive statistics...
df2.describe()

               bwt    gestation          age       height       weight
count  1174.000000  1174.000000  1174.000000  1174.000000  1174.000000
mean    119.462521   279.101363    27.228279    64.049404   128.478705
std      18.328671    16.010305     5.817839     2.526102    20.734282
min      55.000000   148.000000    15.000000    53.000000    87.000000
25%     108.000000   272.000000    23.000000    62.000000   114.250000
50%     120.000000   280.000000    26.000000    64.000000   125.000000
75%     131.000000   288.000000    31.000000    66.000000   139.000000
max     176.000000   353.000000    45.000000    72.000000   250.000000

In [68]:
# weight: 128 lbs.
# height: 64 in. (5 ft. 4 in.)
# gestation: 279 days
# smoke: non-smoker

# bwt(y) = -77.2587(b) + [1.0973 x height(x1)] + [0.0598 x weight(x2)]
# + [0.4387 x gestation(x3)] + [-8.3483 x smoker(x4)]

birth_weight = round((-77.2587 + (1.0973 * 64) + (0.0598 * 128) + (0.4387 * 279) + (-8.3483 * 0)), 2)
print(f"Predicted birth weight = {birth_weight} ounces")

Predicted birth weight = 123.02 ounces

In [67]:
# weight: 128 lbs.
# height: 64 in. (5 ft. 4 in.)
# gestation: 279 days
# smoke: smoker

# bwt(y) = -77.2587(b) + [1.0973 x height(x1)] + [0.0598 x weight(x2)]
# + [0.4387 x gestation(x3)] + [-8.3483 x smoker(x4)]

birth_weight = round((-77.2587 + (1.0973 * 64) + (0.0598 * 128) + (0.4387 * 279) + (-8.3483 * 1)), 2)
print(f"Predicted birth weight = {birth_weight} ounces")

Predicted birth weight = 114.67 ounces

In [69]:
average_bwt = (123.02 + 114.67)/2
print(f"using the predicted birth weights (smoking & non-smoking, the average predicted birth weight is about {average_bwt} ounces")

using the predicted birth weights (smoking & non-smoking, the average predicted birth weight is about 118.845 ounces

In [ ]:
# 118.845 ounces is close to the mean value of birth weight (119.462521 ounces)...

In [66]:
# weight: 139 lbs.
# height: 66 in. (5 ft. 6 in.)
# gestation: 288 days
# smoke: non-smoker


# bwt(y) = -77.2587(b) + [1.0973 x height(x1)] + [0.0598 x weight(x2)]
# + [0.4387 x gestation(x3)] + [-8.3483 x smoker(x4)]

birth_weight = round((-77.2587 + (1.0973 * 66) + (0.0598 * 139) + (0.4387 * 288) + (-8.3483 * 0)), 2)
print(f"Predicted birth weight = {birth_weight} ounces")

Predicted birth weight = 129.82 ounces

## Great Job!! Submit your assignment via Canvas.